<ion-card class="team-card">
  <ion-card-header>
    <div class="team-header">
      <ion-avatar class="team-avatar">
        <img [src]="team.imageUrl" [alt]="team.name">
      </ion-avatar>
      <div class="team-info">
        <ion-card-title class="team-name">{{ team.name }}</ion-card-title>
        <div class="team-location">
          <ion-icon name="location-outline"></ion-icon>
          <span>{{ team.location }}</span>
        </div>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="content-area">
      <p class="team-description">{{ team.description }}</p>
      
      <div class="team-stats">
        <div class="stat-item">
          <ion-icon name="people-outline"></ion-icon>
          <span>{{ team.membersCount }} members</span>
        </div>
        
        <div class="stat-item">
          <ion-icon name="trophy-outline"></ion-icon>
          <ion-chip [color]="getLevelColor(team.level)" class="level-chip">
            {{ team.level }}
          </ion-chip>
        </div>

        <div class="stat-item" *ngIf="team.teamsCount">
          <ion-icon name="shield-outline"></ion-icon>
          <span>{{ team.teamsCount }} teams</span>
        </div>
      </div>
    </div>
  </ion-card-content>

  <div class="button-area">
    <ion-button 
      expand="block" 
      class="join-button"
      [class.requested]="team.isRequested"
      (click)="onJoinTeam()"
      [disabled]="team.isRequested">
      <span *ngIf="!team.isRequested">
        Request to Join
      </span>
      <span *ngIf="team.isRequested">
        Requested
      </span>
    </ion-button>
  </div>
</ion-card>