@for (field of fields(); track field.id) {
  <div class="field-group" [class.field-group--boolean]="field.type === 'boolean' && !field.options?.length">

    @if (field.type !== 'boolean' || field.options?.length) {
      <label class="field-label" [for]="field.key">
        {{ field.label }}
        @if (field.isRequired) {
          <span class="required-mark">*</span>
        }
      </label>
    }

    @if (field.description) {
      <p class="field-hint">{{ field.description }}</p>
    }

    @if (field.type === 'text') {
      <input
        pInputText
        [id]="field.key"
        type="text"
        [formControl]="$any(form().get(field.key))"
        [invalid]="isFieldInvalid(field.key)"
        [attr.maxlength]="field.maxLength"
      />
    }

    @if (field.type === 'number') {
      <input
        pInputText
        [id]="field.key"
        type="number"
        [formControl]="$any(form().get(field.key))"
        [invalid]="isFieldInvalid(field.key)"
      />
    }

    @if (field.type === 'date') {
      <p-datepicker
        [inputId]="field.key"
        [formControl]="$any(form().get(field.key))"
        dateFormat="dd/mm/yy"
        [fluid]="true"
        [showIcon]="true"
        [invalid]="isFieldInvalid(field.key)"
        appendTo="body"
      />
    }

    @if (field.type === 'email') {
      <input
        pInputText
        [id]="field.key"
        type="email"
        [formControl]="$any(form().get(field.key))"
        [invalid]="isFieldInvalid(field.key)"
      />
    }

    @if (field.type === 'phone') {
      <input
        pInputText
        [id]="field.key"
        type="tel"
        [formControl]="$any(form().get(field.key))"
        [invalid]="isFieldInvalid(field.key)"
      />
    }

    @if (field.type === 'textarea') {
      <textarea
        pTextarea
        [id]="field.key"
        [formControl]="$any(form().get(field.key))"
        [invalid]="isFieldInvalid(field.key)"
        rows="4"
        [attr.maxlength]="field.maxLength"
      ></textarea>
    }

    @if (field.type === 'boolean') {
      @if (field.options?.length) {
        <div class="radio-group" [class.radio-group--error]="isFieldInvalid(field.key)">
          @for (option of field.options; track option) {
            <div class="radio-option">
              <p-radiobutton
                [inputId]="field.key + '_' + option"
                [formControl]="$any(form().get(field.key))"
                [name]="field.key"
                [value]="option"
              />
              <label [for]="field.key + '_' + option" class="radio-text">{{ option }}</label>
            </div>
          }
        </div>
      } @else {
        <label class="boolean-label">
          <p-toggleswitch [formControl]="$any(form().get(field.key))" />
          <span class="boolean-text">
            {{ field.label }}
            @if (field.isRequired) {
              <span class="required-mark">*</span>
            }
          </span>
        </label>
      }
    }

    @if (field.type === 'select') {
      <p-select
        [inputId]="field.key"
        [formControl]="$any(form().get(field.key))"
        [options]="field.options ?? []"
        [fluid]="true"
        [invalid]="isFieldInvalid(field.key)"
        [placeholder]="'common.selectOption' | translate"
        appendTo="body"
      />
    }

    @if (isFieldInvalid(field.key)) {
      <small class="p-error">{{ 'validation.required' | translate }}</small>
    }
  </div>
}
