<div class="social-section">
  <div class="divider-line">
    <span class="divider-text">{{ 'auth.or' | translate }}</span>
  </div>

  <div class="social-buttons">
    <button
      class="btn-secondary btn-icon"
      (click)="onGoogleClick()"
      [disabled]="isLoading">
      <ion-spinner name="dots" *ngIf="isProviderLoading('google')"></ion-spinner>
      <ion-icon name="logo-google" *ngIf="!isProviderLoading('google')"></ion-icon>
    </button>

    <button
      class="btn-secondary btn-icon"
      (click)="onAppleClick()"
      [disabled]="isLoading">
      <ion-spinner name="dots" *ngIf="isProviderLoading('apple')"></ion-spinner>
      <ion-icon name="logo-apple" *ngIf="!isProviderLoading('apple')"></ion-icon>
    </button>
  </div>
</div>
