<div class="page-header">
  <div class="header-content">
    @if (showBackButton()) {
      <button class="back-button" (click)="onBackClick()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>{{ 'common.back' | translate }}</span>
      </button>
    } @else if (showRoleSelector()) {
      <div class="role-selector-wrapper">
        <app-role-selector [currentRole]="currentRole()"></app-role-selector>
      </div>
    }
    
    <div class="user-menu" (click)="onUserClick($event)" [class.menu-open]="showUserMenu()">
      <ion-avatar class="user-avatar">
        <ion-img [src]="avatarUrl()" [alt]="user?.username" (ionError)="onAvatarError()"></ion-img>
      </ion-avatar>
    </div>
    
    @if (showUserMenu()) {
      <div class="user-dropdown">
        <button class="dropdown-item" (click)="goToProfile()">
          <ion-icon name="person-outline"></ion-icon>
          <span>{{ 'common.profile' | translate }}</span>
        </button>
        <button class="dropdown-item" (click)="goToSettings()">
          <ion-icon name="settings-outline"></ion-icon>
          <span>{{ 'common.settings' | translate }}</span>
        </button>
        <button class="dropdown-item logout-item" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          <span>{{ 'auth.signOut' | translate }}</span>
        </button>
      </div>
    }
  </div>
</div>
