<ion-modal
  [isOpen]="isOpen()"
  (didDismiss)="dismissed.emit()"
  class="requests-modal">
  <ng-template>
    <div class="modal-container">
      <div class="modal-header">
        <div class="header-info">
          <div class="header-icon">
            <ion-icon name="document-text-outline"></ion-icon>
          </div>
          <div class="header-text">
            <h2 class="header-title">{{ 'notifications.actionRequests' | translate }}</h2>
            <p class="header-subtitle">{{ requests().length }} {{ (requests().length === 1 ? 'notifications.pendingRequest' : 'notifications.pendingRequests') | translate }}</p>
          </div>
        </div>
        <button class="close-button" (click)="dismissed.emit()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <div class="modal-content">
        <div class="requests-list">
          @for (request of requests(); track request.id) {
            <div class="request-item" (click)="requestSelected.emit(request)">
              <div class="request-icon-small">
                <ion-icon name="document-text-outline"></ion-icon>
              </div>

              <div class="request-info">
                <h4 class="request-title-text">{{ request.title }}</h4>
                @if (request.user?.username) {
                  <span class="request-creator">{{ request.user!.username }}</span>
                }
                <span class="request-date">{{ formatDate(request.createdAt) }}</span>
              </div>

              <ion-icon name="chevron-forward-outline" class="request-chevron"></ion-icon>
            </div>
          }
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
