<div class="page-container member-information-page">
  <div class="information-header">
    <h1 class="page-title">{{ 'member.information.title' | translate }}</h1>
    <p class="page-description">{{ 'member.information.description' | translate }}</p>
  </div>

  @if (isEmpty()) {
    <div class="empty-state">
      <ion-icon name="information-circle-outline" class="empty-icon"></ion-icon>
      <h3 class="empty-title">{{ 'member.information.empty' | translate }}</h3>
      <p class="empty-description">{{ 'member.information.emptyDescription' | translate }}</p>
    </div>
  } @else {
    <app-section-display [sections]="displaySections()" />
  }
</div>