@if (isOpen()) {
  <div
    class="lightbox"
    (click)="close()"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp()"
    (mouseleave)="onMouseUp()">
    <button type="button" class="lightbox-close" (click)="close(); $event.stopPropagation()">
      <ion-icon name="close-outline"></ion-icon>
    </button>

    <button
      type="button"
      class="lightbox-download"
      (click)="download(); $event.stopPropagation()"
      [disabled]="isDownloading()">
      @if (isDownloading()) {
        <ion-spinner name="crescent" />
      } @else {
        <ion-icon name="download-outline"></ion-icon>
      }
    </button>

    @if (hasMultiple()) {
      <span class="lightbox-counter">{{ currentIndex() + 1 }} / {{ images().length }}</span>

      <button type="button" class="lightbox-nav lightbox-nav--prev" (click)="previous(); $event.stopPropagation()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <button type="button" class="lightbox-nav lightbox-nav--next" (click)="next(); $event.stopPropagation()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    }

    <img
      class="lightbox-image"
      [class.is-zoomed]="isZoomed()"
      [style.transform]="'translate(' + panX() + 'px, ' + panY() + 'px) scale(' + zoomScale() + ')'"
      [src]="images()[currentIndex()]"
      (click)="$event.stopPropagation()"
      (dblclick)="onDoubleClick($event)"
      (mousedown)="onMouseDown($event)"
      alt="" />
  </div>
}
