<!-- Social Login Section -->
@if(false){

  <app-social-login
  [mode]="mode()"
  (loginComplete)="onSocialLoginComplete($event)">
    </app-social-login>
}

<div class="form-footer">
  @if(false){
    <app-auth-guest></app-auth-guest>
  }
  
  @if (mode() === 'signin') {
    <ion-text class="footer-text">
      {{ 'auth.dontHaveAccount' | translate }}
      <span class="footer-link" (click)="onNavigateToSignUp()">{{ 'auth.signUpButton' | translate }}</span>
    </ion-text>
  }
  
  @if (mode() === 'signup') {
    <ion-text class="footer-text">
      {{ 'auth.alreadyHaveAccount' | translate }}
      <span class="footer-link" (click)="onNavigateToSignIn()">{{ 'auth.signInButton' | translate }}</span>
    </ion-text>
  }
  
</div>
