<div class="page-container home-page">
  <section class="home-modules" aria-label="Modules">
    @for (shortcut of shortcuts(); track shortcut.id) {
      <button class="module-card" type="button" (click)="openShortcut(shortcut)">
        <span class="module-icon">
          <ion-icon [name]="shortcut.icon"></ion-icon>
        </span>
        <span class="module-content">
          <span class="module-title">{{ shortcut.labelKey | translate }}</span>
          <span class="module-description">{{ shortcut.descriptionKey | translate }}</span>
        </span> 
      </button>
    }
  </section>
</div>
