<div class="page-container member-news-page">
  <div class="section-header news-header">
    <h1 class="section-title">{{ 'member.news.title' | translate }}</h1>
    
    <div class="filters-icons">
      <div class="filter-wrapper">
        <button class="filter-icon" [class.active]="selectedCategory() !== 'all'" (click)="showCategoryModal.set(true)">
          <ion-icon name="pricetag-outline"></ion-icon>
        </button>
      </div>
      
      <div class="filter-wrapper">
        <button class="filter-icon" [class.active]="selectedTimeFilter() !== TimeFilter.All" (click)="showTimeModal.set(true)">
          <ion-icon name="time-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  
  <!-- Category Filter Modal -->
  <ion-modal [isOpen]="showCategoryModal()" (didDismiss)="showCategoryModal.set(false)" [breakpoints]="[0, 0.6, 0.9]" [initialBreakpoint]="0.6">
    <ng-template>
      <div class="filter-modal">
        <h3 class="filter-modal-title">{{ 'member.news.category' | translate }}</h3>
        <div class="filter-options">
          @for (category of categories; track category.value) {
            <button 
              class="filter-option" 
              [class.active]="selectedCategory() === category.value"
              (click)="selectCategory(category.value)">
              <span>{{ category.label | translate }}</span>
              @if (selectedCategory() === category.value) {
                <ion-icon name="checkmark"></ion-icon>
              }
            </button>
          }
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
  <!-- Time Filter Modal -->
  <ion-modal [isOpen]="showTimeModal()" (didDismiss)="showTimeModal.set(false)" [breakpoints]="[0, 0.5, 0.8]" [initialBreakpoint]="0.5">
    <ng-template>
      <div class="filter-modal">
        <h3 class="filter-modal-title">{{ 'member.news.time.title' | translate }}</h3>
        <div class="filter-options">
          @for (timeFilter of timeFilters; track timeFilter.value) {
            <button 
              class="filter-option" 
              [class.active]="selectedTimeFilter() === timeFilter.value"
              (click)="selectTimeFilter(timeFilter.value)">
              <span>{{ timeFilter.label | translate }}</span>
              @if (selectedTimeFilter() === timeFilter.value) {
                <ion-icon name="checkmark"></ion-icon>
              }
            </button>
          }
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
  @if (filteredNews().length === 0) {
    <div class="empty-state">
      <ion-icon name="newspaper-outline" class="empty-icon"></ion-icon>
      <h3 class="empty-title">{{ 'member.news.empty' | translate }}</h3>
      <p class="empty-description">{{ 'member.news.emptyDescription' | translate }}</p>
    </div>
  } @else {
    <div class="grid-auto-fill news-grid">
      @for (newsItem of filteredNews(); track newsItem.id; let i = $index) {
        <app-news-card
          [news]="newsItem"
          [animationDelay]="i"
          (cardClick)="openNews($event)"
          (voteChange)="vote($event.newsId, $event.voteType)"
        />
      }
    </div>
  }
</div>
