<div class="sections-container">
  @for (section of sections(); track $index; let i = $index) {
    <div class="section-card" [class.expanded]="isExpanded(i)">
      <button class="section-header margin-bottom-0" (click)="toggle(i)" type="button">
        <div class="header-content">
          <span class="section-icon-wrapper">
            <ion-icon [name]="section.icon || 'information-circle-outline'" class="section-icon"></ion-icon>
          </span>
          <h2 class="section-title">{{ section.title }}</h2>
        </div>
        <div class="drop-down-icon">
          <ion-icon name="chevron-down-outline" class="toggle-icon" [class.toggle-icon--rotated]="isExpanded(i)"></ion-icon>
        </div>
      </button>

      @if (isExpanded(i)) {
        <div class="section-content" [innerHTML]="section.content | richText"></div>
      }
    </div>
  }
</div>
