<ion-modal
  [isOpen]="isOpen()"
  (didDismiss)="close()"
  class="submission-detail-modal">
  <ng-template>
    <div class="modal-container">

      <div class="modal-header">
        <div class="header-info">
          <ion-icon name="document-text-outline" class="header-icon"></ion-icon>
          <h2 class="modal-title">{{ 'viewer.forms.submission.detailTitle' | translate }}</h2>
        </div>
        <button class="close-button" (click)="close()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <div class="modal-content">
        @if (loading()) {
          <div class="modal-skeleton">
            @for (_ of [1, 2, 3]; track $index) {
              <div class="skeleton-field"></div>
            }
          </div>
        }

        @if (!loading() && form()) {
          <app-dynamic-form-fields
            [fields]="submissionFields()"
            [form]="form()"
          />
        }
      </div>

    </div>
  </ng-template>
</ion-modal>
