<ion-content>
  <div class="viewer-page">
    <!-- Mobile Header -->
    <div class="mobile-header">
      <div class="mobile-header-left">
        <app-role-selector></app-role-selector>
      </div>
      <div class="mobile-header-right">
        <app-user-header [showBackButton]="false"></app-user-header>
      </div>
    </div>

    <div class="layout-container">
      <app-viewer-menu></app-viewer-menu>
      
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ion-content>
