<ion-content [scrollY]="false">
  <div class="viewer-page">
    <!-- Mobile Header -->
    <div class="mobile-header">
      <app-user-header 
        [showBackButton]="isDetailPage()" 
        [showRoleSelector]="!isDetailPage()"
        [backUrl]="backUrl()"
        (backClick)="goBack()">
      </app-user-header>
    </div>

    <div class="layout-container">
      <app-menu [config]="viewerMenuConfig" [class.hidden-on-detail]="isDetailPage()"></app-menu>
      
      <div class="content-container" [class.full-width]="isDetailPage()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ion-content>
