<div class="viewer-action-page">
  <div class="action-grid">
    <div class="action-card">
      <ion-icon name="person-add-outline" class="action-icon"></ion-icon>
      <h3>{{ 'viewer.action.registerPlayer' | translate }}</h3>
      <p>{{ 'viewer.action.registerPlayerDesc' | translate }}</p>
      <ion-button fill="outline" size="small">
        {{ 'viewer.action.register' | translate }}
      </ion-button>
    </div>
    
    <div class="action-card">
      <ion-icon name="card-outline" class="action-icon"></ion-icon>
      <h3>{{ 'viewer.action.becomeMember' | translate }}</h3>
      <p>{{ 'viewer.action.becomeMemberDesc' | translate }}</p>
      <ion-button fill="outline" size="small">
        {{ 'viewer.action.join' | translate }}
      </ion-button>
    </div>
  </div>
</div>
