@if (form(); as formGroup) {
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="dynamic-form">
    @for (field of fields; track field.name) {
      <div class="form-field">
        <label class="field-label">
          {{ field.label | translate }}
          @if (field.required) {
            <span class="required-indicator">*</span>
          }
        </label>

        @switch (field.type) {
          @case ('textarea') {
            <ion-textarea
              [formControlName]="field.name"
              [placeholder]="(field.placeholder ?? '') | translate"
              [maxlength]="field.maxLength ?? null"
              [rows]="4"
              [class.ion-invalid]="isFieldInvalid(field.name)"
              [class.ion-touched]="isFieldInvalid(field.name)">
            </ion-textarea>
          }
          @case ('select') {
            <ion-select
              [formControlName]="field.name"
              [placeholder]="(field.placeholder ?? '') | translate"
              [class.ion-invalid]="isFieldInvalid(field.name)"
              [class.ion-touched]="isFieldInvalid(field.name)"
              interface="popover">
              @for (option of field.options; track option.value) {
                <ion-select-option [value]="option.value">
                  {{ option.label | translate }}
                </ion-select-option>
              }
            </ion-select>
          }
          @default {
            <ion-input
              [formControlName]="field.name"
              [type]="field.type"
              [placeholder]="(field.placeholder ?? '') | translate"
              [maxlength]="field.maxLength ?? null"
              [class.ion-invalid]="isFieldInvalid(field.name)"
              [class.ion-touched]="isFieldInvalid(field.name)">
            </ion-input>
          }
        }

        @if (getFieldError(field.name); as error) {
          <div class="field-error">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>{{ error }}</span>
          </div>
        }
      </div>
    }

    <div class="form-actions">
      <ion-button
        type="button"
        fill="outline"
        class="btn-cancel"
        (click)="onCancel()"
        [disabled]="isSubmitting">
        {{ cancelLabel | translate }}
      </ion-button>
      <ion-button
        type="submit"
        class="btn-submit"
        [disabled]="!isFormValid() || isSubmitting">
        @if (isSubmitting) {
          <ion-icon name="hourglass-outline" slot="start"></ion-icon>
          {{ 'viewer.action.form.submitting' | translate }}
        } @else {
          {{ submitLabel | translate }}
        }
      </ion-button>
    </div>
  </form>
}
